.post__grid {
  height: 270px;
  max-height: 270px;
  max-width: 400px;
  margin-block-end: 1rem;
  margin-inline-end: 1rem;
}
.post__list {
  margin-block-end: 1rem;
}
.post__card-content {
  padding-block-start: 1rem;
}
